.App {
  text-align: center;
  padding: 20px;
}

button {
  margin-top: 20px;
}

a {
  display: block;
  margin-top: 20px;
  color: blue;
  text-decoration: underline;
}

label {
  display: block;
  margin-top: 10px;
}

select, input {
  margin-left: 10px;
}
